.first-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 9rem;
}

.product-link {
  position: relative;
}

.img-products {
  display: inline-block;
  width: 33.5rem;
  height: 50rem;
  margin-right: 2.7rem;
}

.img-products:last-child {
  margin-right: 0;
}

.products {
  font-style: italic;
  color: black;
  font-size: 3rem;
  position: absolute;
  top: 44rem;
  left: 0rem;
}
