.map-title {
  font-size: 3.2rem;
  margin-bottom: 6rem;
}

.adres {
  font-size: 2.3rem;
  padding-top: 8rem;
}

.map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 9rem;
}
