@import url(css/.simplebar.css);
html {
  font-size: 10px;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 140rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:visited {
  color: #3c3c3c;
}

ul {
  list-style: none;
}

.navigation {
  padding-top: 5rem;
  position: relative;
  margin-bottom: 5rem;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item {
  margin-right: 4rem;
  font-size: 2.2rem;
  font-family: 'Delicious Handrawn', cursive;
}

.item:last-child {
  margin-right: 0;
}

.xoxo-logo {
  display: inline-block;
  position: absolute;
  top: .5rem;
  left: 0rem;
}

.cart-content {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 0.4rem 0.4rem rgba(135, 135, 135, 0.25);
  width: 49rem;
  cursor: default;
}

.cart-content__bottom {
  padding: 2.4rem 2rem;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-content__fullprice {
  margin-top: .8rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #4d4d4d;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.cart-content__btn {
  width: 24.6rem;
  text-align: center;
  color: #fff;
  background-color: #6a0cec;
  border-radius: .3rem;
  height: 4rem;
}

.cart {
  z-index: 100000;
  position: relative;
  transition: background-color 0.3s;
}

.cart.active:hover {
  cursor: pointer;
  background-color: rgba(93, 113, 221, 0.1);
}

.cart.active:hover .cart-content {
  opacity: 1;
  visibility: visible;
  transition: opacity .3s visibility .3s;
}

.cart__quantity {
  position: absolute;
  right: -1.8rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #de707b;
  border-radius: 100%;
  padding: .2rem;
  height: 1.6rem;
  min-width: 1.6rem;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin-top: -1rem;
  line-height: 1;
}

.cart-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s visibility .3s;
}

.cart-content__list {
  overflow: scroll;
  max-height: 33rem;
  margin-top: 5rem;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2 rem;
  transition: background-color .3s;
}

.cart-product__img {
  max-width: 10rem;
  max-height: 10rem;
  object-fit: cover;
  margin-right: 2rem;
}

.cart-product__title {
  max-width: 28rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #4d4d4d;
  margin-bottom: 1.5rem;
}

.cart-product__price {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #4d4d4d;
}

.cart-product__delete {
  width: 1.6rem;
  height: 1.6em;
  border: none;
  background-color: transparent;
  padding: 0;
  background-image: url("../iconss/free-icon-recycle-bin-3156999.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
}

.cart-product:hover {
  background-color: rgba(77, 77, 77, 0.2);
}

.slider {
  width: 144rem;
  height: 50rem;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 9rem;
}

.slider__line {
  display: flex;
  transition: 1s all;
  margin-left: 0px;
}

.slider__main {
  width: 144rem;
  height: 50rem;
  display: flex;
  flex-direction: row;
  padding-right: 17rem;
}

.slider__img {
  margin-right: 14rem;
}

.div-second {
  text-align: center;
  width: 50rem;
  font-size: 4.5rem;
}

.btnNext {
  position: absolute;
  left: -68rem;
  top: 50%;
  font-size: 4rem;
  transform: translateY(-50%) rotate(-180deg);
  color: black;
  border: transparent;
  background-color: transparent;
}

.btnPrev {
  position: absolute;
  left: 68rem;
  top: 50%;
  font-size: 4rem;
  transform: translateY(-50%) rotate(180deg);
  color: black;
  border: transparent;
  background-color: transparent;
}

.btnNext:hover, .btnPrev:hover {
  cursor: pointer;
  color: white;
}

.summer {
  padding-top: 5rem;
  color: #e5da2f;
  padding-bottom: 5rem;
}

.collection {
  color: #e5552f;
}

.sait {
  color: white;
  border: solid 0.1rem #e5da2f;
  background: #e5da2f;
}

.summers {
  padding-top: 4rem;
  color: #4b42f5;
}

.sails {
  color: #4b42f5;
  margin-bottom: 1rem;
}

.season {
  font-size: 4.5rem;
  color: #ffb8c6;
  border: solid 0.1rem #4b42f5;
  background: #4b42f5;
}

.new {
  padding-top: 4rem;
  color: #532ca0;
}

.collections {
  color: #532ca0;
  padding-bottom: 1rem;
}

.foot {
  color: #532ca0;
  border: solid 0.1rem #ffa629;
  background: #ffa629;
}

.scool {
  padding-top: 8rem;
}

.newcol {
  border: solid .6rem red;
}

.first-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 9rem;
}

.product-link {
  position: relative;
}

.img-products {
  display: inline-block;
  width: 33.5rem;
  height: 50rem;
  margin-right: 2.7rem;
}

.img-products:last-child {
  margin-right: 0;
}

.products {
  font-style: italic;
  color: black;
  font-size: 3rem;
  position: absolute;
  top: 44rem;
  left: 0rem;
}

.second-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 9rem;
}

.about-compani {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  height: 14.5rem;
  width: 46.7rem;
}

.img-descrtiption {
  width: 198px;
  height: 110px;
  margin-right: 2.5rem;
  overflow: hidden;
}

.img-descrtiption img {
  height: 100%;
  display: inline-block;
  text-align: center;
}

.child {
  width: 32rem;
  text-align: center;
}

.impotant-title {
  font-size: 1.8rem;
  color: grey;
  margin-bottom: 1rem;
}

.impotant-description {
  font-size: 2rem;
  font-style: italic;
}

.third-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 9rem;
}

.img-sails {
  height: 41.3rem;
  width: 25rem;
}

.good-sails {
  font-size: 3.2rem;
  margin-bottom: 6rem;
}

.product-sails {
  border: 1px solid black;
  margin-right: 2rem;
}

.product-sails:last-child {
  margin-right: 0;
}

.title-sails {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.3rem;
}

.description-sails {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 1.3rem;
}

button {
  width: 100%;
  height: 6rem;
  background-color: black;
  color: white;
  font-size: 3rem;
}

.four-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 9rem;
}

.louk-img {
  height: 44.3rem;
  width: 29rem;
}

.title-louk {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.3rem;
}

.description-look {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1.3rem;
}

.five-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 9rem;
}

.description-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us {
  text-align: center;
  width: 34rem;
  margin-right: 5rem;
  padding-top: 10rem;
}

.our-title {
  font-size: 2.6rem;
  margin-bottom: 2.1rem;
}

.history {
  font-size: 1.9rem;
  font-style: italic;
  text-transform: uppercase;
}

.description-history {
  font-size: 2.3rem;
  margin-bottom: 3.4rem;
}

.plus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dignity {
  width: 34.1rem;
  height: 10.7rem;
}

.houseofplus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.our-plus {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.description-ourplus {
  font-size: 1.8rem;
}

img {
  margin-bottom: 1.5rem;
}

.map-title {
  font-size: 3.2rem;
  margin-bottom: 6rem;
}

.adres {
  font-size: 2.3rem;
  padding-top: 8rem;
}

.map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 9rem;
}
